.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ee4d2d;
    --border-color: #ccc;
    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height)var(--navbar-height));
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
}
/**/
/* reonpsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}


/* animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes grow {
    from {
        transform: scale(var(--grow-from));
    }

    to {
        transform: scale(var(--grow-to));
    }
}

.btn-load {
    text-transform: initial;
    font-size: 14px;
    margin-top: 8px;
    padding: 10px 25px;
    border-radius: 4px;
    background: transparent;
    color: #2c2c2c;
    border: 1px solid #2c2c2c;
}

.home-product-item {
    display: block;
    background-color: var(--white-color);
    margin-top: 10px;
    margin-right: 10px;
    min-width: 190px;
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    /* transition: transfrom linear 0.1s;
    will-change: transfrom; */
    top: 0;
    text-decoration: none;
}

    .home-product-item:hover {
        box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
        /* transform: translateY(-2px); */
        top: -1px;
        transition: linear 0.05s;
    }

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    /*Muốn nó xuất hiện số  dòng thì phải lấy lineheight nhân với số dòng mình muốn */
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    /* thì nó sẽ chạy thèn trên */
    display: -webkit-box;
    /*nếu mà trình duyệt kông sp  */
    -webkit-box-orient: vertical;
    /* cái hướng của dòng chữ Theo chiều nào có nghĩa là theo chiều dọc */
    -webkit-line-clamp: 2;
    /* muốn tác động lên số dòng số bao nhiêu */
}

.home-product-item__price {
    display: flex;
    margin-left: 10px;
    align-items: baseline;
    /* lấy cái phần chân dòng */
}

.home-product-item__price-old {
    font-size: 1.3rem;
    color: #666;
    text-decoration: line-through;
    /* gạch ở giữa chữ */
}

.home-product-item__price-current {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-left: 4px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px;
}

.home-product-item__like-icon-fill {
    display: none;
    color: red;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__like {
    font-size: 1.2rem;
}

.home-product-item__rating {
    position: relative;
    top: 3px;
    font-size: 0.8rem;
    color: #d5d5d5;
    margin: -1px 0 0 auto;
}

.home-product-item__star-gold {
    color: yellow;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    color: #595959;
    font-weight: 400px;
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__brand {
}

.home-product-item__origin-name {
    margin-left: auto;
}

.home-product-item__favourite {
    position: absolute;
    top: 0px;
    left: -4px;
    color: white;
    background-color: black;
    /* nó sẽ ăn theo cái màu hiện tại của cái khối này(color) */
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

    /* css nhan yeu thich */
    .home-product-item__favourite::after {
        content: "";
        position: absolute;
        border-top: 3px solid currentColor;
        /* cái màu currentcolor nó sẽ ăn theo màu của cha nó */
        border-left: 3px solid transparent;
        left: 0;
        bottom: -3px;
        filter: brightness(60%);
        /* giảm độ sáng của màu curent color  */
    }

    .home-product-item__favourite span {
        color: var(--white-color);
        padding-left: 2px;
    }

    .home-product-item__favourite i {
        font-size: 0.9rem;
        margin: 0 2px 0 5px;
        color: var(--white-color);
    }

.home-product-item__Sale-off {
    position: absolute;
    top: 0;
    right: 0;
    height: 36px;
    width: 40px;
    background-color: rgba(255, 216, 64, 0.9);
    text-align: center;
}

    .home-product-item__Sale-off::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -6px;
        border-style: solid;
        border-width: 0 20px 6px;
        border-color: transparent rgba(255, 216, 64, 0.9) transparent rgba(255, 216, 64, 0.9);
    }

.home-product-item__percent {
    font-weight: 600;
    font-size: 1.2rem;
    color: #ee4d2d;
    position: relative;
    top: 2px;
}



.home-product-item__sale-off-label {
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--white-color);
    position: relative;
    top: 4px;
}
