.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ee4d2d;
    --border-color: #ccc;
    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height)var(--navbar-height));
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
}
/**/
/* reonpsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}


/* animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes grow {
    from {
        transform: scale(var(--grow-from));
    }

    to {
        transform: scale(var(--grow-to));
    }
}

.btn-load {
    text-transform: initial;
    font-size: 14px;
    margin-top: 8px;
    padding: 10px 25px;
    border-radius: 4px;
    background: transparent;
    color: #2c2c2c;
    border: 1px solid #2c2c2c;
}

.home-product-item {
    display: block;
    background-color: var(--white-color);
    margin-top: 10px;
    margin-right: 10px;
    min-width: 190px;
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    /* transition: transfrom linear 0.1s;
    will-change: transfrom; */
    top: 0;
    text-decoration: none;
}

    .home-product-item:hover {
        box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
        /* transform: translateY(-2px); */
        top: -1px;
        transition: linear 0.05s;
    }

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    /*Muốn nó xuất hiện số  dòng thì phải lấy lineheight nhân với số dòng mình muốn */
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    /* thì nó sẽ chạy thèn trên */
    display: -webkit-box;
    /*nếu mà trình duyệt kông sp  */
    -webkit-box-orient: vertical;
    /* cái hướng của dòng chữ Theo chiều nào có nghĩa là theo chiều dọc */
    -webkit-line-clamp: 2;
    /* muốn tác động lên số dòng số bao nhiêu */
}

.home-product-item__price {
    display: flex;
    margin-left: 10px;
    align-items: baseline;
    /* lấy cái phần chân dòng */
}

.home-product-item__price-old {
    font-size: 1.3rem;
    color: #666;
    text-decoration: line-through;
    /* gạch ở giữa chữ */
}

.home-product-item__price-current {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-left: 4px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px;
}

.home-product-item__like-icon-fill {
    display: none;
    color: red;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__like {
    font-size: 1.2rem;
}

.home-product-item__rating {
    position: relative;
    top: 3px;
    font-size: 0.8rem;
    color: #d5d5d5;
    margin: -1px 0 0 auto;
}

.home-product-item__star-gold {
    color: yellow;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    color: #595959;
    font-weight: 400px;
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__brand {
}

.home-product-item__origin-name {
    margin-left: auto;
}

.home-product-item__favourite {
    position: absolute;
    top: 0px;
    left: -4px;
    color: white;
    background-color: black;
    /* nó sẽ ăn theo cái màu hiện tại của cái khối này(color) */
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

    /* css nhan yeu thich */
    .home-product-item__favourite::after {
        content: "";
        position: absolute;
        border-top: 3px solid currentColor;
        /* cái màu currentcolor nó sẽ ăn theo màu của cha nó */
        border-left: 3px solid transparent;
        left: 0;
        bottom: -3px;
        filter: brightness(60%);
        /* giảm độ sáng của màu curent color  */
    }

    .home-product-item__favourite span {
        color: var(--white-color);
        padding-left: 2px;
    }

    .home-product-item__favourite i {
        font-size: 0.9rem;
        margin: 0 2px 0 5px;
        color: var(--white-color);
    }

.home-product-item__Sale-off {
    position: absolute;
    top: 0;
    right: 0;
    height: 36px;
    width: 40px;
    background-color: rgba(255, 216, 64, 0.9);
    text-align: center;
}

    .home-product-item__Sale-off::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -6px;
        border-style: solid;
        border-width: 0 20px 6px;
        border-color: transparent rgba(255, 216, 64, 0.9) transparent rgba(255, 216, 64, 0.9);
    }

.home-product-item__percent {
    font-weight: 600;
    font-size: 1.2rem;
    color: #ee4d2d;
    position: relative;
    top: 2px;
}



.home-product-item__sale-off-label {
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--white-color);
    position: relative;
    top: 4px;
}


icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.icon-sm {
    width: 2rem;
    height: 2rem;
}




/* CSS */
.button-cart {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-cart:hover,
.button-cart:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button-cart:hover {
    transform: translateY(-1px);
}

.button-cart:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}


/*header card*/


.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-list::before {
    content: "";
    cursor: pointer;
    position: absolute;
    right: 4px;
    top: -30px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-wrap {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 0 8px;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
    background-color: #fdfdfd;
}

.header__cart-list-item {
    padding-left: 0;
    list-style-type: none;
    max-height: 56vh;
    overflow-y: scroll;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-img {
    width: 42px;
    margin: 12px;
    border: 1px solid var(--border-color);
}

.header__cart-item-info {
    padding-top: 12px;
    width: 100%;
}

.header__cart-item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 12px;
}

.header__cart-item-name {
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    font-weight: 400;
    color: var(--text-color);
    flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
}

.header__cart-item-mutiply {
    font-weight: 600;
    color: #757575;
    font-size: 0.9rem;
    margin: 0 4px;
}

.header__cart-item-quantity {
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-delete {
    margin-right: 12px;
    font-size: 1.2rem;
}

.btn-cart {
    margin-right: 12px;
    margin-top: 8px;
    width: 142px;
}

    .btn-cart:hover {
        background-color: gray;
    }

.btn--cart-item {
}

.header__cart-view-cart {
    float: right;
    margin: 12px;
}

    .header__cart-view-cart:hover {
        background-color: #f05d41;
    }

.header__cart-item-delete:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-item:hover {
    cursor: default;
    background-color: #faf6f6;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 8px);
    right: -3px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 2px 10px #ccc;
    display: none;
    animation: fadeIn ease-in 0.25s;
    cursor: default;
    z-index: 1;
}

.header__cart-list--no-cart .header__cart--no-cart-img,
.header__cart-list--no-cart .header__cart-list--no-cart-footer {
    display: block;
    margin: auto;
}

.header__cart-list--no-cart-footer {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 50;
    padding-top: 20px;
    display: none;
}

.header__cart-notice {
    position: absolute;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 40%;
    border: solid 2px #ee4d2d;
    padding: 1px 7px;
    left: 26px;
    top: -5px;
}

.header__cart-list--no-cart {
    padding: 20px 0;
    display: flex;
}

.header__cart--no-cart-img {
    width: 54%;
    display: none;
}

.header__cart-icon {
    font-size: 2.4rem;
    color:black;
    margin-top: 4px;
}
