@{
    var productId = ViewBag.ProductId;

}



<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="https://product.hstatic.net/1000281824/product/mlbbk_3__73448b41ad494ffb8b6e0e754a9833a9_large.png" alt="Product Image" class="img-fluid" />
        </div>
        <div class="col-md-6">
            <h2>Degrey Medium Leather Basic Balo Kem - MLBBK</h2>
            <p style="font-size:14px; font-weight:400;line-height:18px">Đây là một sản phẩm ví dụ với mô tả chi tiết.Đây là một sản phẩm ví dụ với mô tả chi tiết.Đây là một sản phẩm ví dụ với mô tả chi tiết.Đây là một sản phẩm ví dụ với mô tả chi tiết.Đây là một sản phẩm ví dụ với mô tả chi tiết.Đây là một sản phẩm ví dụ với mô tả chi tiết.Đây là một sản phẩm ví dụ với mô tả chi tiết.</p>

            <div class="col-12">
                <div style="display: flex; align-items: center; justify-content: start;">
                    <p style="font-size:14px; font-weight:400;line-height:18px">Price: <span id="totalPrice">500000</span>₫</p>

                    <div class="input-group w-auto justify-content-end align-items-center">
                        <input type="button" value="-" class="button-minus border rounded-circle  icon-shape icon-sm mx-1 " data-field="quantity">
                        <input type="number" step="1" max="10" value="1" name="quantity" class="quantity-field border-0 text-center w-25">
                        <input type="button" value="+" class="button-plus border rounded-circle icon-shape icon-sm " data-field="quantity">
                    </div>
                </div>
            </div>
            <button class="button-cart" id="buyButton" role="button">


                Mua Hàng
            </button>
        </div>

    </div>
</div>

<script>var quantityField = document.querySelector('.quantity-field');
    var minusButton = document.querySelector('.button-minus');
    var plusButton = document.querySelector('.button-plus');
    var totalPriceElement = document.getElementById('totalPrice');

    updateTotalPrice(); 

    minusButton.addEventListener('click', function () {
        var currentQuantity = parseInt(quantityField.value);
        if (currentQuantity > 1) {
            quantityField.value = currentQuantity - 1;
            updateTotalPrice();
        }
    });

    plusButton.addEventListener('click', function () {
        var currentQuantity = parseInt(quantityField.value);
        if (currentQuantity < 10) {
            quantityField.value = currentQuantity + 1;
            updateTotalPrice();
        }
    });

    function updateTotalPrice() {
        var price = 500000; // Update with your actual price
        var quantity = parseInt(quantityField.value);
        var totalPrice = price * quantity;
        totalPriceElement.innerText = totalPrice;
    }

    </script>