<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DegrayWeb</title>


    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.3.0/remixicon.css"
      integrity="sha512-0JEaZ1BDR+FsrPtq5Ap9o05MUwn8lKs2GiCcRVdOH0qDcUcCoMKi8fDVJ9gnG8VN1Mp/vuWw2sMO0SQom5th4g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div style="height:60px" class="container-fluid">
                <a class="navbar-brand" style="font-size: 20px;" asp-area="" asp-controller="Home" asp-action="Index">DegrayWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="font-size: 16px; font-weight: 300;" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="font-size: 16px; font-weight: 300;" asp-area="" asp-controller="Home" asp-action="Product">Sản phẩm</a>
                        </li>
                    </ul>
                    <div class="nav-list-center">
                        <div class="header__cart">
                            <div class="header__cart-wrap">
                                <san class="header__cart-notice"> 3 </san>
                                <i class="header__cart-icon ri-shopping-cart-line"></i>
                                <!-- header__cart-list--no-cart -->
                                <div class="header__cart-list">
                                    <img src="./asser/img/no-cart.png"
                                         alt=""
                                         class="header__cart--no-cart-img" />
                                    <span class="header__cart-list--no-cart-footer">Chưa Có Sản Phẩm</span>

                                    <h4 class="header__cart-heading">Sản phẩm đã thêm</h4>
                                    <ul class="header__cart-list-item">
                                        <!-- cart-item -->
                                        <li class="header__cart-item" style="cursor:pointer">
                                            <img src="https://product.hstatic.net/1000281824/product/mlbbk_3__73448b41ad494ffb8b6e0e754a9833a9_large.png"
                                                 alt=""
                                                 class="header__cart-img" />
                                            <div class="header__cart-item-info">
                                                <div class="header__cart-item-head">
                                                    <h5 class="header__cart-item-name">
                                                        Product 1
                                                    </h5>
                                                    <div class="header__cart-item-price-wrap">
                                                        <span class="header__cart-item-price">2.000.000đ</span>
                                                        <span class="header__cart-item-mutiply">x</span>
                                                        <span class="header__cart-item-quantity">2</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <a class="header__cart-item button-cart" style="cursor:pointer" asp-area="" asp-controller="Home" asp-action="Cart">Xem sản phẩm</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <div class="container ">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - DegrayWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

